fastapi
uvicorn
pydantic>=2.7.0,<3.0.0
pydantic-settings>=2.0.0
protobuf>=4.25.3
python-multipart
pypdf
numpy>=1.26.0,<2.0.0
faiss-cpu
langchain-community
langchain-text-splitters
langchain-core
langchain-google-genai
langserve[all]==0.2.2
google-generativeai
